
/* ---- Section 1: Hero ---- */
* {
  font-family: 'Source Code Pro', monospace;
}
.hero-section {
  background-image: url('pawel-czerwinski-OG44d93iNJk-unsplash.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

h1 {
  font-size: 6rem;
  padding: 0;
  margin: 0 4rem 0rem 0;
  opacity: .85;
}

h4 {
  font-size: 2rem;
  padding: 0;
  margin: 0 4rem 2rem 0;
  opacity: .85;
}

.span-links {
  margin-right: 4.2rem;
}

.hero-links {
  margin-bottom: 8rem;
  padding-left: 1rem;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  opacity: .85;
}

.hero-links:hover {
  color:#F735B9;
}

.filler-section {
  height: 5vh;
  background-color: #F735B9;
  opacity: .2;
}

/* ---- Section 2: Projects ---- */
.projects {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  background-color: whitesmoke;
}

.img-div {
  opacity: .85;
  margin-top: 3rem;
  width: 30%;
  background-color: whitesmoke;
  text-align: center;
}

.caption {
  padding: 0;
  background-color: whitesmoke;
}

.images {
  margin-top: .5rem;
  width: 100%;
}

.logo-container {
  height: 70%;
  margin-bottom: 0;
}

.caption a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

.caption a:hover {
  color: #F735B9;
  /* transform: scale(3); */
}

/* ---- Media Break Points ---- */
@media (max-width: 500px) {
  .hero-section {
    text-align: center;
    align-items: center;
  }

  h1 {
    font-size: 3.5rem;
    margin: 0 0 3rem 0;
    padding: 0;
  }
  h4 {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
  }
  .span-links {
    margin: 0;
    margin-top: 1rem;
  }
  .hero-links {
    margin: 0;
    padding: 0;
  }
  .projects {
    flex-direction: column;
    align-items: center;
  }

  .img-div {
    width: 80%;
  }
  .img2 {
    margin-bottom: 3rem;
  }
  .caption a {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .projects {
    padding: 0;
    margin: 0;
  }
  
}